{% extends 'base.html' %}

{% load static %}

{% block title %}Home - Diet App{% endblock %}

{% block page_title %}Welcome to Your Diet Tracker{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Main Content -->
    <div class="row">
        <!-- Text Section -->
        <div class="col-md-8">
            <h3>Track Your Meals and Progress</h3>
            <p>Log your meals, track your nutrition, and monitor your health goals!</p>
            <a href="{% url 'goals' %}" class="btn btn-primary">Start Tracking</a>
        </div>
        <!-- Image Section -->
        <div class="col-md-4">
            <img src="{% static 'images/Meal Tracker.jpeg' %}" alt="Meal Tracker" class="img-fluid">
        </div>
    </div>

    <!-- Chart Section -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h4>Your Progress</h4>
            <canvas id="nutritionChart"></canvas>
        </div>
    </div>
</div>



{% endblock %}
